.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
  }
  .contact-box > a {
    color: inherit;
  }
  .contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
  }
  .contact-box.center-version > a {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  .contact-box.center-version > a img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact-box.center-version address {
    margin-bottom: 0;
  }
  .contact-box .contact-box-footer {
    text-align: center;
    background-color: #0097d6;
    border-top: 1px solid #e7eaec;
    padding: 5px 12px;
  }
  .contact-box a{
        text-decoration:none !important;
  }
  .contact-box .fa {
    font-size: 15pt;
    color:white;
 }

 .contact-box .icon{
     display: flex;
 }

 .contact-box .icon  center{
     margin:auto;
 }


 .no-address{
    margin: auto;
 }
 .no-address a{
    cursor: pointer;
    color: green;
    text-decoration: underline;
 }
